<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/d92630495d.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <style>

    </style>
  </head>
  <body>
    <main>

      <div id="content">
        <div id="content-text">
          <img class="logo" src="/logo2.png" />
          <h1><span>Counselling</span><br /> With <u>AI</u></h1>
          <h2>Unlocking Potential 
            <br />
            Guiding Minds: Counseling Enhanced by AI
            .</h2>
          <a href="/generate-questions">
            <button>Get Started</button></a>

          <a href="/dashboard">
            <button>Dashboard</button>
          </a>
          <nav id="social-media">
            <ul>
              <li>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
              </li>
            </ul>
          </nav>
        </div>
        <img class="header-image" src="background.jpg" />

      </div>
    </main>

  </body>
</html>